pdf-viewer {
	display: block;
	height: 100vh;
	overflow-y: hidden !important;
  }
  /* unvisited link */
  a:link {
	color:#292b2c;
  }
  
  /* visited link */
  a:visited {
	color: #292b2c;
  }
  
  /* mouse over link */
  a:hover {
	color:#292b2c;
  }
  
  /* selected link */
  a:active {
	color:#292b2c;
  }